*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: white;
}

#header{
    width: 100%;
    height: 100vh;
    background-image:url(images/galaxy2.png);
    background-size: cover;
    background-position: center;
}
    
    

.container{
    padding: 10px 8%;

}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    flex-wrap: wrap;
}
.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    
    
}
nav ul li{
display: inline-block;
list-style: none;
margin: 10px 20px;
}
nav ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    position: relative;
}
nav ul li a::after{
    content: '';
    width:0;
    height: 3px;
    background: rgb(226, 34, 226);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;

}
nav ul li a:hover::after{
    width: 100%;

}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    margin-top: 20px;
    font-size: 13px;
    color: chocolate;
}
.header-text p{
    font-size: 20px;
}
.header-text p span{
    color: aqua;
}

/*<---------about me----------->*/

#about{
    padding: 80px 0;
    color: whitesmoke;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{

    flex-basis: 35%;
    background: #262626;
    overflow: hidden;
    border-radius: 7px;
    
    
    }


.about-col-1 img{
   
    width: 100%;
    background-size: cover;
    overflow: hidden;
    border-radius: 7px;
}
.about-col-2{
    flex-basis: 65%;
    padding-left: 40px;

}
.sub-title{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
    
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
   
}
.tab-links{
    margin-right: 50px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff2b0f;
    position: absolute;
    transition: 0.5s;
    left: 0;
    bottom: -8px;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 18px;
    color: rgb(209, 16, 55);
}
.tab-contents ul li span{
    font-size: 15px;
    color: #fff;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
#services{
    padding: 40px 0;
}

.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.service-list-1{
    background: #262626;
    font-size: 13px;
    padding: 40px;
    border-right: 10px;
    font-weight: 300;
    border-radius: 15px;
    transition: background 0.5s, transform 0.5s;
}

.service-list-2{
    background: #120401;
    font-size: 13px;
    padding: 40px;
    border-right: 10px;
    font-weight: 300;
    border-radius: 15px;
    transition: background 0.5s, transform 0.5s;
}
.service-list-3{
    background: #002340;
    font-size: 13px;
    padding: 40px;
    border-right: 10px;
    font-weight: 300;
    border-radius: 15px;
    transition: background 0.5s, transform 0.5s;
}
.service-list-4{
    background: #0c151d;
    font-size: 13px;
    padding: 40px;
    border-right: 10px;
    font-weight: 300;
    border-radius: 15px;
    transition: background 0.5s, transform 0.5s;
}

.ref-link{
    padding: 10px 0;
    font-size: 15px;
    font-weight: 300;
}
.ref{
    color: #ff2b0f;
    text-decoration: none;
}

.service-list-1:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

.service-list-2:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

.service-list-3:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

.service-list-4:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

/*---contact---*/
.content-right{
    flex-basis: 60%;
}

.content-left{
    flex-basis: 35%;
}
.content-left p{
    margin-top: 5px;

    font-size: 14px;
    font-weight: 300;

}
.content-left p a{
    margin-top: 30px;
    color: aquamarine;
    text-decoration: none;
}
.content-right form{
    width: 100%;
}

form input, form textarea{
    font-size: 16px;
    margin: 14px;
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    border-radius: 7px;
    color: #fff;
}

.btn{
    padding: 15px;
    margin: 15px;
    font-size: 16px;
    background: #ff004f;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.icons{
    width: 30px;
    border-radius: 50%;
    font-size: 6px;
    margin-right: 8px;
    
}
.social-icons{
    margin-left: 3px;
    justify-content: center;
    align-content: center;
    display: inline-block;
    margin-top: 40px;
    
}

.copyright{
    width: 100%;
    background: #262626;
   
    text-align: center;
    padding: 20px 0;
    justify-items: center;
}
.copyright p{
    
    font-size: 14px;
    font-weight: 300;
    color: #fff;
   
    
    
}


.btn2 {
    width: fit-content;
    margin: 15px;
    padding: 14px;
    background: none;
    border-radius: 30px;
    border:1px solid #ff004f;
    color: #fff;
    transition: background 0.5s transform 0.5s;
}
.btn2 a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500; 
}
.btn2:hover{
    background: #ff004f;
    
    transform:translateY(-6px) ;
}




.fa{
    display: none;
}

/*-------small screen devices----*/
@media only screen and (max-width: 600px) {
  #header{
    background image: url(images/galaxy4.png);
  } 
  
  .header-text{
    margin-top: 100%;
    font-size: 14px;
  }
  .header-text h1{
    font-size: 12px;
  }
  
  nav ul{
    background:#ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    height: 100vh;
    width: 200px;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;

  }
  nav ul li{
    display: block;
    margin: 25px;
  }
    nav .fa{
        display: block;
        font-size: 25px;
    }
    nav ul .fa{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    
    .sub-title{
        font-size: 28px;

    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        padding-top: 20px;
        
    }
    .about-col-2{
        font-size: 14px;
        padding-top: 20px;
        padding-left: 0px;
    }
    .tab-contents{
        font-size: 15px;
    }
    .tab-links{
        margin-right: 22px;
        font-size: 14px;
    }
    .content-right, .content-left{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
    .services-list{
        padding-top: 25px;
    }
}


/*---skill rates---*/
.skill-box{
   /* position: relative; */
    margin: 0 ; 
    padding: 25px 10px;
    
    max-width: 390px;
    width: 100%;
    background: rgba(165, 165, 92, 0.867);
    border-radius: 6px; 
    
    
    

}

.sub-title h1{
    font-size: 28px;
    padding: 10px 15px;

} 


.skill-box .title{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 0 10px;
}

.skill-box .skill-bar{
    width: 100%;
   position: relative;
    height: 6px;
    display: block;
    background: #fff2f4;
    border-radius: 4px;
}

.skill-bar .skill-per{
    position: absolute;
    width: 80%;
    height: 100%;
    background: #002340;
    border-radius: 4px;
    animation: progress 0.4s ease-in-out forwards;
}

@keyframes progress{
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        
        opacity: 1;
    }
    
}
.skill-per .skill-tip{
    position: absolute;
    right: -14px;
    top: -24px;
    font-size: 10px;
    font-weight: 500;
    padding: 2px 4px;
    font-weight: 400;
    color: #fff;
    background: #002340;
    border-radius: 3px;
    z-index: 1;
} 

.skill-tip::before{
    content: '';
    position: absolute;
    left: 45%;
    height: 6px;
    bottom: -6px;
    width: 6px;
    background-color: #002340;
    z-index: -1;
    transform: translateY(-50%) rotate(45deg);
}

.skill-per{
    width: 85%;
    animation-delay: 0.3s;

}
.skill-per.php{
    width: 65%;
    animation-delay: 0.3s;

}

.skill-per.javascript{
    width: 75%;
    animation-delay: 0.2s;
}
.skill-per.java{
    width: 60%;
    animation-delay: 0.3s;

}
.skill-per.python{
    width: 40%;
    animation-delay: 0.3s;

}
